
button{
background-color: black;
color: red;
font-size: large;
border-style: double;
border-color: green;

}
.arian{
    text-align: center;
    font-size: larger;
    color: rgba(2, 19, 255, 0.384);
    border-style: double;
    border-color: rgb(255, 230, 0);
   
.ari{
    background-color: black;

}

}
body{
    background-color: black;
}
.yard{
    background:url("https://s8.uupload.ir/files/apocalypse_dark_4k_background_(1)_9qyd.jpg") 
}
